/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Add some color to the text in the columns */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: #3366cc; /* Dark blue text color */
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-color: #ff9900; /* Orange border color */
}

/* Thin out the marketing headings */
.featurette-heading {
  letter-spacing: -.05rem;
  color: #bf3030; /* Dark grey text color */
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    color: #993366; /* Purple text color */
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
